<div class="footer">
    <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">
                " 2215 John Daniel Drive "
                <br>
                " Clark, MO 65243 "
            </p>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <a href="https://www.facebook.com/" target="_blank">
              <img src="{{img}}" alt="...." style="border-radius: 2rem; height: 50px;"></a>
            <a href="https://twitter.com/" target="_blank">
                <img src="{{img1}}" alt="..." style="border-radius: 2rem;" height="50px">
            </a>
            <img src="{{img2}}" alt="..." style="border-radius: 2rem;" height="50px">
            <img src="{{img3}}" alt="..." style="border-radius: 2rem;" height="50px">

        </div>
        <div class="col-lg-4">
            <h4>About Freelancer</h4>
            <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by Start
                Bootstrap .
                <a href="https://www.startbootstrap.com">Start Bootstrap</a>

            </p>
        </div>
    </div>
</div>
